@import url("catalog_general.css");

.wrapper .catalog .swiper {
    margin: 0;
}

.wrapper .catalog .swiper .swiper-slide {
    display: flex;
    justify-content: center;
    padding: 10px 14px;
}

.wrapper .catalog .swiper .button-prev,
.wrapper .catalog .swiper .button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.wrapper .catalog .swiper .button-next {
    transform: rotate(180deg) translateY(50%);
    right: 0;
}

.wrapper .catalog .swiper .button-prev {
    left: 0;
}